[Desktop Entry]
Type=Application
Version=1.0
Name=Activate Linux
Comment=Meme program that displays an "Activate Windows"-like watermark on the desktop
Exec=activate-linux
Icon=activate-linux
GenericName=Activate Linux
Categories=Utility
Terminal=false
